@import "../index.scss";


.login {
    @extend .m0;
    @extend .p0;
    @extend .w100;
    @extend .flex;
    background-color: white;
    height: 100%;
    min-height: 100vh; 
    flex-wrap: wrap;
    flex-direction: row;
    .login-panel {
        flex: 5;
        align-self: center;
        > div {
            @extend .ml-auto;
            @extend .mr-auto;
            @extend .w80;
            margin-top: 3rem;
            max-width: 700px;
            .copyright {
                color: #777;
                @media (max-width: 960px) {
                    text-align: center;
                }
            }
        }
    }

    .back-panel {
        @extend .relative;
        color: rgba(4, 133, 133, 0.39);
        flex: 7;
        background-image: url(../../img/login_back.webp);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        @media (max-width: 960px) {
            display: none;
        }
    }

    .text-stroke {
        @extend .text-center;
        @include absolute;
        z-index: 1;
        top: -15%;
        left: 1em;
        -webkit-text-stroke: 1px rgba(171, 171, 171, 0.35);
    }
}
