@import "../index.scss";

.register {
    @extend .m0;
    @extend .p0;
    @extend .w100;
    @extend .flex;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    .register-panel {
        flex: 7;
        align-self: center;
        > div {
            @extend .ml-auto;
            @extend .mr-auto;
            @extend .w80;
            margin-top: 3rem;
            max-width: 700px;
            .title {
                font-size: 2.5rem;
                @media (max-width: 1200px) {
                    font-size: 1.5rem;
                }
                @media (max-width: 960px) {
                    text-align: center;
                    &.text-stroke {
                        left: 0;
                        right: 0;
                        transform: translateY(-30%) scale(1.2);
                    }
                }
            }
            .copyright {
                color: #777;
                @media (max-width: 960px) {
                    text-align: center;
                }
            }
        }
    }
    .back-panel {
        flex: 5;
        background-image: url(../../img/register_back.webp);
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        position: relative;
        @media (max-width: 960px) {
            display: none;
        }
    }
    .text-stroke {
        @extend .text-center;
        @include absolute;
        z-index: 1;
        top: -10%;
        left: 1em;
        -webkit-text-stroke: 1px rgba(171, 171, 171, 0.233);
    }

}
